// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #111;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-weight: 500;
  font-size: 18px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  z-index: 90;
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #111;

  i {
    color: #fff;
    margin: 0 1em;
    cursor: pointer;
  }

  i:first-of-type {
    font-size: 1.3em;
  }
  i:last-of-type {
    margin: 0;
  }
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 3.5rem;
  flex-direction: column;
  background-color: #111;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  height: 100vh;
  justify-content: flex-start;
}

.bar {
  display: block;
  width: 25px;
  height: 1.3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

#hamburger-button {
  background-color: transparent;
  border: none;
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  border-top: 1px solid rgba(204, 204, 204, 0.774);
  padding: 1em;
}
.nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #fff;

  span {
    float: right;
  }
}

.nav-link:hover {
  color: #fff;
  transition: 0.4s;
  border-bottom: 1px solid #ccc;
}

#user-logo:hover,
#shopping-bag:hover {
  color: #ccc;
}

.nav-logo {
  margin: 0 auto;
}

.nav-logo {
  font-size: 1.3em;
  font-weight: 600;
  color: #fefefe;
  z-index: 4;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 10;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;

  .model-phone {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.btn {
  color: #fff;
  background-color: transparent;
  padding: 1.3em 4em;
  text-transform: uppercase;
  border: 1px solid #333;
  transition: 0.6s;
  cursor: pointer;

  a {
    color: #111;
  }
}

.btn:hover {
  background-color: #111;

  color: #fff;

  a {
    color: #fff;
    transition: 0.1s;
  }
}

.block-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  h5 {
    font-weight: 500;
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 1em;
  }
}

.section-newClothing {
  margin: 3em 1em;
}

img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.features {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;

  a {
    text-decoration: underline;
    font-weight: 500;
    color: #111;
  }
}

.newclothing-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.item-clothing:nth-child(3) {
  display: none;
}
.item-clothing:nth-child(4) {
  display: none;
}
.img-hover {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.img-hover .img-clothing-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.img-hover:hover .img-clothing-hover {
  opacity: 1;
}

.img-hover:hover {
  .overlay-sizing {
    display: block;
    z-index: 5;
    opacity: 1;
  }
}

.overlay-sizing {
  position: absolute;
  bottom: 0;
  padding: 1em;
  width: 100%;
  background-color: rgba(17, 17, 17, 0.836);
  box-shadow: 0 3px 20px rgba(#111, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  li:nth-child(2) {
    a {
      color: #fff;
    }
  }
  li:nth-child(3) {
    a {
      color: #fff;
    }
  }
  li:nth-child(5) {
    a {
      color: #fff;
    }
  }
}
.overlay-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

  a {
    color: rgba(204, 204, 204, 0.24);
    font-weight: 600;
  }
}

.item-clothing {
  margin: 0 0.5em;

  p {
    font-size: 14px;
    margin-top: 4px;
  }
}
.money {
  font-size: 12px;
  margin-top: 4px;
}

.clothing-color__indicator {
  background-color: #111;
  padding: 5px;
  border-radius: 100%;
  border: 1px solid rgba(112, 112, 112, 0.555);
  cursor: pointer;
}

.clothing-color__indicator:last-of-type {
  background-color: white;
}
.features-items {
  position: relative;
  text-align: center;
  color: white;
  z-index: 3;

  h5 {
    background-color: #111;
    color: #fff;
    padding: 5px;
    font-weight: 500;
    position: absolute;
    top: 15px;
    left: 0px;
    margin-top: 5px;
  }
}

.video-showcase {
  display: none;
}
.section-categories {
  height: 100vh;
  width: 100%;
  margin: 2em 0;
}
.container-load-BG {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  text-align: center;
  background: url(../img/force-majeure-00tlC0Clfrs-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  ul {
    position: relative;
    font-size: 1.8em;
    font-weight: 600;
  }

  li {
    margin: 5px;

    a {
      color: #000000b6;
      cursor: pointer;
      transition: 200ms ease-in-out;
    }
    a:hover {
      color: #fff;
    }
  }
}

.section-instagram {
  margin: 0 1em;
}

.insta-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    margin: 0 10px;
  }

  a {
    text-decoration: none;
    color: #111;
  }
}

#instagram-icon {
  font-size: 1.5em;
}

.container-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr 1fr;
  gap: 3px;
  grid-auto-flow: row;
  grid-template-areas:
    "main-image main-image"
    "img1 img2"
    "img3 img4";

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.main-image {
  grid-area: main-image;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}
.content {
  height: 100%;
  width: 100%;
}

footer {
  background-color: #111;
  color: #fff;
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #fefefe60;
  padding: 3em;
  margin-top: 3em;
  text-align: center;

  h3 {
    margin: 0.5em 0;
    font-weight: 500;
  }

  a {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
    margin-bottom: 1em;
    font-weight: 500;
  }
}

.signUp {
  align-items: center;
  text-align: center;

  margin: 1em;

  padding: 3em 0;
}

.signUp-form {
  display: flex;
  margin: 2em 0;
}

.email {
  outline: none;

  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  line-height: 17px;
  padding: 8px 16px;
  color: #fff;
  height: 46px;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
}
.email::placeholder {
  color: #fff;
  font-size: 14px;
}

.email:focus::placeholder {
  color: transparent;
}
.sub-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  cursor: pointer;

  i {
    font-size: 1.3em;
  }
}
#envelop {
  margin-top: 0.8em;
  font-size: 1.4em;
  border-bottom: 1px solid #ccc;
}

#faceBook-logo,
#instagram-logo {
  margin: 0 1em;
  font-size: 1.3em;
  cursor: pointer;
}

.location-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #fefefe60;
}

.img-shop {
  height: 100%;
  width: 80%;
  object-fit: contain;
  padding: 2em;
}

.location-text {
  margin: 1em 0;
  line-height: 1.8em;
  margin: 1em;
  padding: 1em;

  h5 {
    font-weight: 500;
    color: #aaa;
    line-height: 2.3em;
  }

  h3 {
    font-weight: 500;
  }
  p {
    font-weight: 400;
    font-size: 14px;
  }

  a {
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
  }
}

.footer-menu {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    place-content: center;
  }

  li {
    padding: 2em 0;
    border-top: 1px solid rgba(204, 204, 204, 0.329);
    place-content: center;
    width: 100%;
  }

  li:nth-child(2) {
    border-left: 1px solid rgba(204, 204, 204, 0.329);
  }

  li:nth-child(4) {
    border-left: 1px solid rgba(204, 204, 204, 0.329);
  }
  li:nth-child(5) {
    border-bottom: 1px solid rgba(204, 204, 204, 0.329);
  }
  li:nth-child(6) {
    border-left: 1px solid rgba(204, 204, 204, 0.329);
    border-bottom: 1px solid rgba(204, 204, 204, 0.329);
  }

  a {
    color: #fff;
    font-weight: 500;
  }
}

.inner-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1em;
  padding: 1em 0;

  p {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
  }
}

.footer-sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1em;

  a {
    color: #fff;
    font-size: 12px;
  }
}

//tool tip

.wrapper {
  position: absolute;
  display: inline-block;
  right: 0;
}

.wrapper .icon {
  position: relative;
  background-color: transparent;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon {
  color: #111;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .heart:hover,
.wrapper .heart:hover .tooltip,
.wrapper .heart:hover .tooltip::before {
  background-color: #111;
  color: #ffffff;
}

@media only screen and (max-width: 1080px) {
  .model-phone2,
  .dropdown-men,
  .dropdown-women,
  .dropdown-gifting,
  #instagram-icon-overlay {
    display: none;
  }
}

//DESKTOP
@media only screen and (min-width: 1080px) {
  header {
    z-index: 90;
    position: fixed;
    width: 100%;
    transition: background 250ms ease-in;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    // background-color: rgba(17, 17, 17, 0.438);
    background-color: transparent;
    transition: background 250ms ease-in-out;
    height: 4em;
  }
  .nav-scrolled {
    color: #fff;
    background: #111;
    box-shadow: 0 3px 20px rgba(#111, 0.2);
  }

  .navbar:hover {
    background-color: #111;
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: unset;
    flex-direction: row;
    background-color: transparent;
    text-align: center;
    height: 100%;
    box-shadow: none;
    width: 60%;
  }

  //main

  .block {
    background-color: #111;
    width: 100%;
    height: 100%;
    .block-text {
      z-index: 9;
    }
  }

  .model-phone2 {
    width: 69.5%;
    height: 100%;
    object-fit: cover;
  }

  .block-text {
    margin-left: 5em;
    align-items: baseline;

    h5 {
      font-weight: bold;
      font-size: 3.2em;
      line-height: 22px;

      color: #ffffff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin: 0 4px;
    }

    h2 {
      font-weight: bold;
      font-size: 6.5em;

      color: #fff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  #search-icon {
    display: none;
  }

  .nav-logo {
    width: 100%;
    text-align: center;
    margin-left: 4em;
  }

  .nav-item {
    margin-left: none;
    border: none;
  }

  .nav-link {
    font-size: 1em;
    font-weight: 500;
    color: #fff;

    span {
      display: none;
    }
  }

  .nav-link:hover {
    border-bottom: 2px solid #fff;
    transition: 0.4s;
    font-size: 1em;
  }

  //Dropdown nav

  .dropdown-women,
  .dropdown-men,
  .dropdown-gifting {
    display: none;
    top: 3.5rem;
    position: fixed;
    width: 100%;
    font-size: 1em;
    color: #fff;
    background-color: #111;
    z-index: 99;
    height: 50%;
    left: 0;
    text-align: left;
  }

  .nav-item:hover,
  .nav-link:hover {
    .dropdown-women,
    .dropdown-men,
    .dropdown-gifting {
      display: block;
      cursor: pointer;
    }
  }
  .dropdown-women:hover,
  .dropdown-men:hover,
  .dropdown-gifting:hover {
    display: block;
  }

  .dropdown-container {
    display: grid;
    grid-template-columns: 30.5% 1fr;
    grid-template-rows: 1fr;
    place-content: center;
    height: 100%;
    width: 100%;
  }

  .dropdown-content {
    margin: 4em auto;

    a {
      color: #fff;
      line-height: 2em;
    }
  }

  .img-dropdown-women {
    background: url(../img/alyssa-strohmann-Af3GEg0DMEw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
  }

  .img-dropdown-men {
    background: url(../img/john-cameron-YHxxjHK5NCs-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  .img-dropdown-gifting {
    background: url(../img/pooja-chaudhary-bqnbKxiIGZI-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
  }

  .dropdown-block-text {
    position: relative;
    margin-top: 13em;
    margin-left: 2em;

    h2 {
      line-height: 2em;
    }
    a {
      color: #fff;
    }
  }

  .item-clothing:nth-child(3) {
    display: inline;
  }
  .item-clothing:nth-child(4) {
    display: inline;
  }

  .section-second-hero {
    height: 60vh;
  }

  .video-showcase {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;

    ::after {
      background-color: rgba(17, 17, 17, 0.226);
    }
  }
  .img-showcase {
    display: none;
  }

  .container-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas:
      "main-image img1 img2 img3"
      "main-image img4 img5 img6";
    margin: 3em;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .main-image {
    grid-area: main-image;
  }

  .img1 {
    grid-area: img1;
  }

  .img2 {
    grid-area: img2;
  }

  .img3 {
    grid-area: img3;
  }

  .img4 {
    grid-area: img4;
  }

  .img5 {
    grid-area: img5;
  }

  .img6 {
    grid-area: img6;
  }

  .container-footer {
    .nav-logo {
      margin: 0;
      font-size: 2.1em;
      text-decoration: none;
    }
  }

  .container-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 1em;
  }

  .sub-container {
    margin: 0 auto;
  }

  .sub-container:nth-of-type(1) {
    margin-right: 3em;
  }

  .signUp-form {
    margin: 2em 30vw;
  }
  .location-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .container-flex {
    display: grid;
    grid-template-columns: 30% 20% 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid rgba(204, 204, 204, 0.329);
    place-content: center;
  }

  .location-text {
    margin: auto 0;
  }

  .footer-menu {
    max-height: 100%;

    ul {
      place-content: center;

      height: 100%;
    }

    li {
      padding: 4vw 0;

      a {
        color: #ccc;
        font-size: 1.2em;
      }
    }

    li:nth-child(1) {
      border-left: 1px solid rgba(204, 204, 204, 0.329);
      border-top: none;
    }
    li:nth-child(2) {
      border-top: none;
    }

    li:nth-child(3) {
      border-left: 1px solid rgba(204, 204, 204, 0.329);
    }

    li:nth-child(5) {
      border-left: 1px solid rgba(204, 204, 204, 0.329);
      border-bottom: none;
    }
    li:nth-child(6) {
      border-bottom: none;
    }
  }

  .inner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 1em 1em 0 1em;
    padding: 1em 0;

    .footer-sub-menu {
      display: flex;
      justify-content: space-between;

      li {
        margin: 0 1em;
      }
    }
  }

  .model-phone {
    display: none;
  }

  .block-text {
    color: #fff;
  }

  .btn {
    margin: 0;
    background-color: #fefefe;
    border: 1px double #fff;
    a {
      color: #111;
      font-weight: 600;
    }
  }
  #shop-link-main {
    margin: 0 4px;
    a {
      color: #111;
      font-weight: 600;
      font-size: 1.5em;
    }
  }
  #shop-link-main:hover {
    a {
      color: #fff;
    }
  }

  .newclothing-list {
    margin: 3em;
  }

  // animation

  .nav-link:hover {
    border-bottom: none;
  }

  .navbar {
    a {
      display: block;
      position: relative;
      padding: 0.2em 0;
    }

    /* Fade in */
    a::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: #fff;
      opacity: 0;
      transition: opacity 400ms, transform 400ms;
    }

    /* Slide in */
    li a {
      overflow: hidden;
    }

    li a::after {
      opacity: 1;
      transform: translate3d(-100%, 0, 0);
    }

    li a:hover::after,
    li a:focus::after {
      transform: translate3d(0, 0, 0);
    }
  }
  #search-item {
    display: flex;

    i {
      margin-right: 1em;
    }
  }

  .fade-in {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }

  #instagram-icon-overlay {
    font-size: 1.5em;
  }

  //hover overlay styles

  .content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .content .content-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay {
    opacity: 1;
  }

  .content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content-details {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
  }

  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .fadeIn-right {
    left: 80%;
  }

  #instagram-icon-overlay {
    font-size: 2.5em;
    color: #fff;
  }

  // flip

  .flip-animate {
    perspective: 1000px;

    span {
      position: relative;
      display: inline-block;
      padding: 0;
      transition: transform 0.3s;
      transform-origin: 50% 0;
      transform-style: preserve-3d;
    }

    span:before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      content: attr(data-hover);
      transition: color 0.3s;
      transform: rotateX(-90deg);
      transform-origin: 50% 0;
      text-align: center;
    }

    &:hover span,
    &:focus span {
      transform: rotateX(90deg) translateY(-22px);
    }

    &:hover span:before,
    &:focus span:before {
      color: #fff;
    }
  }
}
